<!--team start here-->
<div class="team  wthree" id="team">
	<div class="container">
		<div class="team-main">
			<div class="team-top">
				<h3>Meet Our Team</h3>
			</div>
			<div class="team-bottom">
				<div class="col-md-4 team-grid">
					<img src="images/t1.jpg" alt="" >
					<div class="team-text">
						<h4>Mack</h4>
						<h5>CEO</h5>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#"><i class="fa fa-facebook f1" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter f2" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus f3" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 team-grid">
					<img src="images/t2.jpg" alt="" >
					<div class="team-text">
						<h4>Cruz</h4>
						<h5>Manager</h5>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#"><i class="fa fa-facebook f1" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter f2" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus f3" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 team-grid">
					<img src="images/t3.jpg" alt="" >
					<div class="team-text">
						<h4>Smith</h4>
						<h5>Employee</h5>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#"><i class="fa fa-facebook f1" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter f2" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus f3" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //team -->