<!-- Gallery -->
	<div class="gallery" id="properties">

		<h3>Properties</h3>

		<div class="gallery-items">
			<div class="gallery-item gallery-item-1">
				<a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g1.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-2">
				<a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g2.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-3">
				<a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g3.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-4">
				<a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g4.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-5">
				<a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g5.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-6">
				<a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g6.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-7">
				<a class="example-image-link" href="images/g7.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g7.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-8">
				<a class="example-image-link" href="images/g8.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g8.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-9">
				<a class="example-image-link" href="images/g9.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g9.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="gallery-item gallery-item-10">
				<a class="example-image-link" href="images/g10.jpg" data-lightbox="example-set" data-title="">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="images/g10.jpg" alt="Asset"/>
								<figcaption></figcaption>
						</figure>
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
	<!-- //Gallery -->