		<div class="component" ng-controller="myCtrl">
				
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Type</th>
							<th>ADDRESS</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items">
                            
                            <td>{{item.name}}</td>
                            <td>{{item.type}}</td>
                            <!--<td><a ng-href="{{item.url}}">{{item.url}}</a></td>-->
							<td>{{item.address}}</td>
          
                        </tr>
					</tbody>
				</table>
				
			</div>

            <div id="mapprop"></div>
            