		<div class="component">
				
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>URL</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items">
                            
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td><a>{{item.url}}></a></td>
                            
                        
                        
                        
                        
                        </tr>
					</tbody>
				</table>
				
			</div>

            <div id="mapprop"></div>

             <style>
      #mapprop {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style
     <script>
      function initMap() {
        var uluru = {lat:35.340545, lng: -80.779269};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>>