		<div class="component" >
				
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Mobile</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items">
                            
                            <td>{{item.id}}</td>
                            <td>{{item.latitude}}</td>
                            <td>{{item.longitude}}</td>
                            <td>{{item.name}}</td>
                        
                        
                        
                        
                        </tr>
					</tbody>
				</table>
				
			</div>